<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>AngularJS Unit Filter</title>
		<link rel="stylesheet" href="css/style.css"/>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.1/pure-min.css">
	</head>
	<body class="pure-form">

		<div>
			<h3>Length</h3>
			<input type="number" placeholder="in2ft" ng-model="in2ft">{{in2ft| in2ft}}<br>
			<input type="number" placeholder="in2ftin" ng-model="in2ftin">{{in2ftin| in2ftin}}<br>
			<input type="number" placeholder="ft2in" ng-model="ft2in">{{ft2in| ft2in}}<br>
			<input type="number" placeholder="ft2m" ng-model="ft2m">{{ft2m| ft2m}}<br>
			<input type="number" placeholder="m2ft" ng-model="m2ft">{{m2ft| m2ft}}<br>
			<input type="number" placeholder="m2ftin" ng-model="m2ftin">{{m2ftin| m2ftin}}<br>
			<input type="number" placeholder="in2cm" ng-model="in2cm">{{in2cm| in2cm}}<br>
			<input type="number" placeholder="cm2in" ng-model="cm2in">{{cm2in| cm2in}}
		</div>

		<div>
			<h3>Pressure</h3>
			<input type="number" placeholder="psi2kpa" ng-model="psi2kpa">{{psi2kpa| psi2kpa}}<br>
			<input type="number" placeholder="kpa2psi" ng-model="kpa2psi">{{kpa2psi| kpa2psi}}
		</div>

		<div>
			<h3>Speed</h3>
			<input type="number" placeholder="mph2kph" ng-model="mph2kph">{{mph2kph| mph2kph}}<br>
			<input type="number" placeholder="kph2mph" ng-model="kph2mph">{{kph2mph| kph2mph}}<br>
			<input type="number" placeholder="mph2knots" ng-model="mph2knots">{{mph2knots| mph2knots}}<br>
			<input type="number" placeholder="knots2mph" ng-model="knots2mph">{{knots2mph| knots2mph}}
		</div>

		<div>
			<h3>Weight</h3>
			<input type="number" placeholder="lbs2kg" ng-model="lbs2kg">{{lbs2kg| lbs2kg}}<br>
			<input type="number" placeholder="kg2lbs" ng-model="kg2lbs">{{kg2lbs| kg2lbs}}
		</div>

		<div>
			<h3>Temperature</h3>
			<input type="number" placeholder="f2c" ng-model="f2c">{{f2c| f2c}}<br>
			<input type="number" placeholder="c2f" ng-model="c2f">{{c2f| c2f}}<br>
			<input type="number" placeholder="c2k" ng-model="c2k">{{c2k| c2k}}<br>
			<input type="number" placeholder="k2c" ng-model="k2c">{{k2c| k2c}}
		</div>

		<div>
			<h3>Example of Rounding</h3>
			<input type="number" placeholder="in2ft (rounded)" ng-model="in2ftrounded">{{in2ftrounded| in2ft:2}}<br>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/unitFilters.js"></script>

		<!--Include Masonry Script and initialization-->
		<script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
		<script>
				var container = document.querySelector('body');
				var msnry = new Masonry(container, {
					// options
//					columnWidth: 200,
					itemSelector: 'div'
				});
		</script>
	</body>
</html>
